{% extends "LouvreResaBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  
<div id="conatainerAccueil">
  <div class="row">
      <div class="col-lg-offset-3 col-lg-6">
        <div class="blocTitre">
        <h3>BILLETERIE</h3>
        </div>
        <div id="well" class="well">
        {{ form_start(form) }}
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}
        <div class="row">
          <div class="col-lg-6">
            {{ form_row(form.typeBillet) }}
          </div>
          <div class="col-lg-6">
            {{ form_row(form.pays) }}
          </div>
        </div>
        {{ form_row(form.jourVisite) }}
        {{ form_row(form.email) }}
        {{ form_row(form.jourVisite) }}
        {{ form_row(form.billets) }}
        <div class="row">
          <div class="col-lg-2">
            <a href="#" id="add_billet" class="btn btn-default">Ajouter un billet</a>
          </div>
          <div class="col-lg-2 col-lg-push-8">
            {{ form_row(form.save) }}
          </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      var $container = $('div#commande_billets');
      var index = $container.find(':input').length;
      $('#add_billet').click(function(e) {
        addBillet($container);
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
     
      if (index == 0) {
        addBillet($container);
      } else {
        $container.children('div').each(function() {
          addDeleteLink($(this));
        });
      }

      function addBillet($container) {
        var template = $container.attr('data-prototype')
          .replace(/__name__label__/g, '')
          .replace(/__name__/g,       index )
        ;

        var $prototype = $(template);
        addDeleteLink($prototype);
        $container.append($prototype);
        index++;
      }
      
      function addDeleteLink($prototype) {
        var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
        $prototype.append($deleteLink);
        $deleteLink.click(function(e) {
          $prototype.remove();
          e.preventDefault(); // évite qu'un # apparaisse dans l'URL
          return false;
        });
      }
    });






  </script>
  </div>
  <script>
  </script>
</div>
{% endblock %}